*{
    margin: 0;
    padding: 0;
    background-color: yellow;
    font-family: "Press Start 2P";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid 1px;
    margin-left: 200px;
}

.row {
    display: flex;
}

.clear {
     letter-spacing: -1px;
     background-color: white;
     font-size: 14px;
     padding: 15px 5px;
     box-shadow: 5px 5px;
  
}

.heading {
    display: block;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 5px white;

}


 



